<div class="ui inverted vertical masthead center aligned segment">
  <h1 class="ui inverted header">The Suncoast Developers Guild</h1>
  <h2>Welcome programmers, geeks and enthusiasts!</h2>
  <div class="ui huge primary button">
    <i class="left slack icon"></i>
    Join us on Slack.
  </div>
</div>

<div class="ui vertical stripe segment intro">
  <div class="ui text container">
    <h3 class="ui header">We are a collective of software engineers and programmers in the Tampa Bay Area.</h3>
    <p>Our purpose is to promote a sense of community among local
      technology organizations and their members. We seek to better
      communication between leaders, centralize efforts, improve culture,
      and to support our members in a way that strengthens our community
      and promotes the common good.</p>

    <h4 class="ui horizontal header divider">
      <a href="#">Organizations</a>
    </h4>

    <h3 class="ui header">Are you interested in joining our organizations?</h3>

    <div class="ui items">
      <% @organizations.each do |organization| %>
        <div class="organization item">
          <div class="ui image tiny">
            <img src="<%= organization.photo_url %>" width="80" height="80">
          </div>
          <div class="content">
            <a href="http://www.meetup.com/<%= organization.meetup_id %>" style="color: <%= organization.color %>" class="header"><%= organization.name %></a>
            <div class="description">
              <strong>Next Event:</strong> <%= organization.next_event %>
            </div>
            <div class="extra">
              <%= organization.members %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ui modal basic small invitation">
  <i class="close icon"></i>
  <div class="header">
    Request an Invitation
  </div>
  <div class="content">
    <%= form_for Invitation.new, html: { class: 'ui form inverted' } do |form| %>
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="invitation[given_name]" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="invitation[family_name]" placeholder="Last Name">
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="invitation[email_address]" placeholder="Email Address">
    </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Nevermind.
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Invite Me!
    </div>
  </div>
</div>

<!--
  <h4></h4>

 -->
