<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Suncoast Developers Guild, SDG">
  <meta name="author" content="The Suncoast Developers Guild">
  <title>The Suncoast Developers Guild</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pusher">
    <%= flash_messages %>
    <%= yield %>
    <div class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="<%= contact_path %>" class="item">Contact Us</a>
              <a href="<%= code_of_conduct_path %>" class="item">Code of Conduct</a>
              <!-- <a href="#" class="item">Sitemap</a> -->
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Links</h4>
            <div class="ui inverted link list">
              <a href="https://suncoast-devs.slack.com/" class="item">Slack</a>
              <a href="http://www.meetup.com/suncoast-devs" class="item">Meetup</a>
              <a href="/admin" class="item">Admin</a>
            </div>
          </div>
          <div class="seven wide column">
            <p class="copyright">&copy; 2015 <a href="http://suncoast.io">The Suncoast Developers Guild</a>.</p>
            <p class="photo-credit">Image courtesy of the <a href="http://eol.jsc.nasa.gov/SearchPhotos/photo.pl?mission=ISS041&roll=E&frame=74232">Earth Science and Remote Sensing Unit</a>, NASA Johnson Space Center.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
